<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.azizapp" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" />
	<application android:label="@String/Scapcb température" android:usesCleartextTraffic="true" android:theme="@drawable/vintage" android:icon="@drawable/vintage"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.MANAGE_WIFI_NETWORK_SELECTION" />
	<uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
	<uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
	<uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
	<uses-permission android:name="android.permission.INTERACT_ACROSS_PROFILES" />
	<uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
</manifest>